* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(3, 50px);
  gap:10px;
}

.game-div {
  min-height: 10px;
  min-width: 10px;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}